body {
    margin: 12px 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  #main {
    display: flex;
    flex: 1;
  }
  
  .ember-view {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .layout {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 100%;
  }