<div class="container headers">
    <div class="row">
        <div class="col">
            <h1>Layouts</h1>
        </div>
    </div>
    {{#each this.model as |ly|}}
    <div class="row">
        <div class="col">
            {{#link-to "layout" ly.id }}
                Open {{ ly.name }}
            {{/link-to}}
        </div>
    </div>
    {{/each}}
    <div class="row">
        <div class="col">
            <BsButton 
                @type="primary"
                @defaultText="Create New Layout"
                @onClick={{action "openLayoutBox"}}>
            </BsButton>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#if newLayout}}
            <label>Name your new layout</label>
            <Input type="text" @value={{this.name}} />
            <BsButton @type="primary"
                @defaultText="Create"
                @onClick={{action "createLayout"}}
                @pendingText="Creating new layout...">
            </BsButton>
            {{/if}}
        </div>
    </div>

</div>