<div>
    <h1>Layouts</h1>

    {{#each this.model as |ly|}}
    <p> {{#link-to "layout" ly.id }}
            Open {{ ly.name }}
        {{/link-to}} </p>
    {{/each}}

    <button {{action "openLayoutBox"}}>New Layout</button>

    <div>
        {{#if newLayout}}
            <label>Name your new layout</label>
            <Input type="text" @value={{this.name}}/>
            <button {{action "createLayout"}}>Create</button>
        {{/if}}
    </div>

</div>