<div class="container headers">
    <div class="row">
        <div class="col">
            <h1>Welcome to Squared Up!</h1>
            <h2>Sign up</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-md-4">
            <label> Email </label>
            <br>
            <Input type="text" @value={{this.email}} placeholder="Email"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label> Your password has to be at least 6 characters </label>
            <br>
            <Input type="password" @value={{this.password}} placeholder="Password"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <BsButton 
                @type="primary"
                @defaultText="Sign Up"
                @onClick={{action "signup"}}
                @pendingText="Signing up...">
            </BsButton>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Already have an account?</label>
            {{#link-to "login"}}Log In{{/link-to}}
        </div>
    </div>
</div>