<div>
    <h1>Welcome to Squared Up!</h1>
    <h2>Sign up!</h2>
    <div>
        Email
        <Input type="text" @value={{this.email}}/>
        Password
        <Input type="password" @value={{this.password}}/>
        <button {{action "signup"}}>Sign up</button>
    </div>
</div>